h1 {
  font-size: 2rem;
  color: blueviolet;
}

.central {
  min-height: 250px;
}
a {
  text-decoration: none;
  color: chocolate;
  font-size: 3rem;
}

.form {
  margin-top: 30px;
  background-color: aqua;
  border: 2px solid black;
  color: black;
}
button {
  width: 100px;
}
