<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail des films</title>
  </head>
  <body>
    <div class="central"><%- include('./partials/header') -%></div>

    <div><%= movieid %></div>
    <%- include('./partials/footer'); -%>
  </body>
</html>
