<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des films</title>
  </head>
  <body>
    <h1>Voici la liste des films disponibles</h1>

    <div class="central"><%- include('./partials/header') -%></div>

    <span> <%= title %></span>
    <div>
      <% for(movie of movies) {%>
      <div><%= movie.title %></div>
      <% } %>
    </div>

    <%- include('./partials/footer'); -%>
  </body>
</html>
